{% extends 'base.html' %}

{% block title %}Project Detail{% endblock %}

{% block content %}
    <h2>{{ project.title }} > {{ task.title }} </h2>
    <ul>
        <li>Status : {{ task.status }} </li>
        <li>Advancement : {{ task.advancement }}% </li>
        <li>Due Date : {{ task.due_date }} </li>
        <li>Worker : {{ task.worker }} </li>
    </ul>


    <p> {{ task.description }} </p>

    <a href=" {% url 'task-delete' project.id task.id %} "> Delete</a>


{% endblock %}