<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %} Project Management {%endblock title%} </title>
	<link rel="stylesheet" type="text/css" href=" {% static 'style.css' %} ">
</head>
<body>
	<div class="container"> 
		<header>
			<h1>Project management</h1>
		</header>
		<nav>
<!-- 			<a href="{% url 'project-list' %} ">Projects</a>
			<a href="{% url 'new-project' %} "> New Project</a>
			<a href="{% url 'new-task' %} "> New Task</a>
			<a href="{% url 'assigned-tasks' %} "> Assigned Tasks</a>
 -->
		<ul>
	        <li>
	            <a href="{% url 'project-list' %} ">Projects</a>
	        </li>
	        <li>
	            <a href="{% url 'new-project' %} "> New Project</a>
	        </li>
	        <li>
	            <a href="{% url 'new-task' %} "> New Task</a>
	        </li>
	        <li>
	            <a href="{% url 'assigned-tasks' %} "> Assigned Tasks</a>
	        </li>
    	</ul>
		
		</nav>
		<main>
			{% block content %}{% endblock content %}
			{% if user.is_authenticated %}
				<p>You are connected as {{ request.user }}. <a href="{% url 'logout' %}">Logout</a></p>
		     {% endif %}
		</main>
		<footer>
			
		</footer>
    </div>
</body>
</html>